{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Blog Posts</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">
            <div class="row">
                {{blogs}}
                    <ul>
                        <li> Title: <a href="{{post.get_absolute_url}}" >{{post}}</a>
                        <li> Author: {{post.author}}</li>
                        <li> Created: {{post.created}}</li>
                        <li> Updated: {{post.updated}}</li>
                        <li> Published: {{post.published}}</li>
                        <p> Body: {{post.body}}</p>
                    </ul>
                    <div class="col-md-4">
                        <div class="card card-body">
                            {{post}}
                        </div>
                    </div>
                    <div>
                        <ul>
                            {% for comment in post.comments.all %}
                            <li>{{comment}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    </div>
                    <form method=POST>
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary my-2">Submit</button>
                    </form>

            </div>
        </div>
    </section>
</main>
{% endblock  %}